<div class="container">
  <h2>ユーザー登録</h2>
    <%= form_with(model: @user, url: admin_users_path, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name ,class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email ,class: "form-control"%>

      <%= f.label :password %>
      <%= f.password_field :password ,class: "form-control"%>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation,class: "form-control"%>

      <%= f.label :admin, "管理者権限" %>
      <%= f.select :admin ,[['一般',false],['管理者',true]] %>
    </div>
    <div class="submit_record">
      <%= f.submit "アカウント作成" ,class: "btn btn-default" %>
    </div>
    <% end %>
  <%= link_to '戻る', admin_users_path, class: "btn btn-default" %>
</div>